<template name="PostView">
  {{#if Template.subscriptionsReady}}
    {{#with post}}
      <h1><strong>{{title}}</strong> <small>{{_id}}</small></h1>

      {{#if currentUser}}
      <form>
        <div class="form-group">
          <label for="body">Comment:</label>
          <textarea class="form-control" id="body" placeholder="Insert a comment"></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
      {{/if}}

      {{> Comments}}
    
    {{else}}
      {{> NotFound}}
    {{/with}}
  {{else}}
    {{> spinner}}
  {{/if}}
</template>
